.introduction {
    display: flex;
    justify-content: center;
    height: 68vh;
    position: relative;
    background-color: #17051e;
    color: white;
    padding: 0vw 10vw;
    
    svg:first-child {
        position: absolute;
        top: 0;
        left: 10vw;
        max-width: 250px;
    }

    svg:last-child {
        position: absolute;
        bottom: 0;
        right: 10vw;
        max-width: 250px;
        rotate: 180deg;
    }

    .name{
        padding: 20px 50px 20px 40px;
        position: relative;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .name{
        

        p{
            font-size: 3em;
            font-weight: bolder;
            z-index: 1;
        }

        .typing::before{
            content: "<";
            font-weight: 600;
            color: gray;
        }
    
        .typing::after{
            content: ">";
            font-weight: 600;
            color: gray;
        }
    }

    .photo{
        vertical-align: middle;
        position: relative;
        align-content: center;
        // margin: auto 120px auto auto;
        padding: 0 50px 0 40px;

        img{
            height: 250px;
            width: 250px;
            border-radius: 150px;
            box-shadow: 0 0 10px white;
        }

        span{
            font-size: 110px;
            font-weight: bolder;
            //background-image: linear-gradient(45deg, #7cc5e7, #71dbca, #9cf5cb, #8bf0b7);
            //-webkit-background-clip: text;
            color: gray;
        }

        .openBrac{
            position: absolute;
            top: -20%;
            left: -7%;
            rotate: 45deg;
        }

        .closeBrac{
            position: absolute;
            bottom: -20%;
            right: -7%;
            rotate: -315deg;
        }
    }
}

.introduction::after{
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(56deg, rgba(133,232,224,1) 0%, rgba(143,240,204,1) 18%, rgba(103,200,215,1) 36%, rgba(90,215,195,1) 57%, rgba(104,181,219,1) 79%, rgba(123,233,236,1) 100%);
    //background: linear-gradient(-45deg, #f4f1f1, #909090, #000000, #909090, #f4f1f1);
    clip-path: polygon(100% 0%, 100% 100%, 0 100%);
    height: 40vh;
    width: 100%;
    opacity: 0.6;
    background-size: 500% 500%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.svg-curve {
    fill: none;
    width: 100%;
    display: block;

    path {
        fill: #17051e;
    }
}

