.navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-size: 30px;
    height: 100px;

    .nav-logo{
        display: flex;
        align-items: center;

        img{
            height: 100px;
            width: 100px;
            vertical-align: middle;
            margin: 5px 0;
        }
    }

    a{
        text-decoration: none;
        color: white;
    }

    .nav-sections{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .nav-social{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}