.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 40px;

    .footer-content {
        background-color: #17051e;
    
        p {
            text-align: center;
        }
    }
}
